.iti {
    display: block !important;
    margin-bottom: 0px !important
}
ngx-dropzone{
    border: 1px solid #ced4da !important;
}
.ngx-slider .ngx-slider-pointer,.ngx-slider .ngx-slider-selection{
    background-color: #435ca3 !important;
    background: #435ca3 !important;;
}
