<div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-soft bg-primary">
              <div class="row">
                <div class="col-7">
                  <div class="text-primary p-4">
                    <h5 class="text-primary">Free Register</h5>
                  </div>
                </div>
                <div class="col-5 align-self-end">
                  <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <!-- <a routerLink="/">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                    </span>
                  </div>
                </a> -->
              </div>
              <div class="p-2">
  
                <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                  novalidate>
  
                  <ngb-alert type="success" *ngIf="successmsg" [dismissible]="false">Registeration successfull.
                  </ngb-alert>
  
                  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
  
                  <div class="mb-3">
                    <label for="name" class="form-label">Merchant Name</label>
                    <input type="text" formControlName="name" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="name"
                      placeholder="Enter Name" />
  
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label"> Name</label>
                    <input type="text" formControlName="shop" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.shop.errors }" id="shop"
                      placeholder="Enter  Name" />
                    <div *ngIf="submitted && f.shop.errors" class="invalid-feedback">
                      <div *ngIf="f.shop.errors.required">Name is required</div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Enter Email" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label>Password</label>
                    <div>
                      <input type="password" placeholder="Enter Password" class="form-control"autocomplete="new-password" maxlength="50" formControlName="password"
                        [ngClass]="{'is-invalid': submitted && f.password.errors}" />
                        <div class="invalid-feedback text-muted">
                          <span>Password must be at least 10 characters and must contain alphabetics,numbers and special charactes !</span>
                        </div>
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <span *ngIf="f.password.errors.required">Password is required.</span>
                        <span *ngIf="f.password.errors.minlength">Password must be at least 10
                          characters.</span>
                          <span *ngIf="f.password.errors.pattern"> Password must contain alphabetics,numbers and special charactes !</span>
                      </div>
                    </div>
                    <div class="mt-2">
                    <label> Confirm Password</label>
                      <input type="password" class="form-control" placeholder="Re-Type Password" formControlName="confirmpwd"
                        [ngClass]="{'is-invalid': submitted && f.confirmpwd.errors}" />
                      <div *ngIf="submitted && f.confirmpwd.errors" class="invalid-feedback">
                        <span *ngIf="f.confirmpwd.errors.required">This value is required.</span>
                        <span *ngIf="f.confirmpwd.errors.mustMatch">This value should be the same.</span>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">Location</label>
                    <input type="text" formControlName="location" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.location.errors }" id="location"
                      placeholder="Enter Location" />
                    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                      <div *ngIf="f.location.errors.required">Location is required</div>
                    </div>
                  </div>
  
                  <div class="mt-4 d-grid">
                    <button class="btn btn-primary" type="submit">Register</button>
                  </div>
                  <!-- <div class="mt-4 text-center">
                    <h5 class="font-size-14 mb-3">Sign in with</h5>
  
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="javascript::void()" class="social-list-item bg-primary text-white border-primary">
                          <i class="mdi mdi-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript::void()" class="social-list-item bg-info text-white border-info">
                          <i class="mdi mdi-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                          <i class="mdi mdi-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="mt-4 text-center">
                    <p class="mb-0">By registering you agree to the Wellness <a href="javascript: void(0);"
                        class="text-primary">Terms of
                        Use</a></p>
                  </div> -->
                </form>
              </div>
            </div>
          </div>
          <!-- end card -->
  
          <div class="mt-5 text-center">
            <p>Already have an account ? <a routerLink="/account/login" class="fw-medium text-primary"> Login</a>
            </p>
            <p>© {{year}} Wellness App.</p>
          </div>
        </div> <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>